/bacteria/code_sjh/bin/cell/
/bacteria/code_sjh/bin/plasma/
/bacteria/data/
#/data/..
*.csv
*.mdl
/bacteria/code_sjh/checkpoints/
/bacteria/code_sjh/GUI/dataManager/data/
/bacteria/code_sjh/GUI/dataManager/work/

/bacteria/code_sjh/GUI/dataManager/Windows/QDataView_and_Labelize.py
/bacteria/code_sjh/GUI/dataManager/dataManager_1.rar
/bacteria/code_sjh/GUI/dataManager/MainWindow - untitled

/bacteria/code_sjh/GUI/dataManager/Windows/QDataView_and_Labelize (2).py
/bacteria/code_sjh/GUI/dataManager/Windows/QGraphicsView.ui
/bacteria/code_sjh/GUI/dataManager/Windows/QGraphicsView_2.ui
